:root {
  --clr-back: #302929;
  --clr-primary1: #f5204e;
  --clr-primary2: #ff406e;
  --clr-primary4: #d5002e;
  --clr-primary3: #f5204e30;
  --clr-primary5: #f5204e60;
  --clr-text1: #fac2cf;
  --clr-text2: #f89ab0;
  --clr-shadow: #00000097;
  --clr-white1: #dfdfdfdf;
  --clr-white: #dfdfdf56;

  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
* {
  scrollbar-width: auto;
  scrollbar-color: #f5204e #fac2cf;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #fac2cf;
}
*::-webkit-scrollbar-thumb {
  background-color: #f5204e;
  border-radius: 9px;
  border: 0px none #ffffff;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-back);
}
/* header */
.head {
  background: linear-gradient(to bottom, var(--clr-primary3), transparent);
  height: auto;
}
.nav {
  padding: 10px 20px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.toggle-btn {
  background: transparent;
  border: none;
}
.toggle-btn i {
  color: var(--clr-white1);
  font-size: 25px;
}
.toggle-btn i:hover {
  color: var(--clr-primary1);
  cursor: pointer;
}
.show-toggle-btn {
  transform: rotate(90deg);
}
.link {
  display: none;
}
.links {
  list-style: none;
}
.nav-logo {
  width: 100px;
}
.toggle-links {
  list-style: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}
.show-links {
  display: flex;
}
.t-link {
  text-decoration: none;
  color: var(--clr-white1);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  text-shadow: 0 2px 6px var(--clr-shadow);
}
/* main */
.about-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: var(--clr-primary1);
  text-shadow: 0 2px 6px var(--clr-shadow);
  border-bottom: 2px solid var(--clr-primary1);
  padding: 50px 0;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}
.about-info {
  margin: auto;
  color: var(--clr-white1);
  font-size: 25px;
  text-shadow: 0 3px 6px var(--clr-shadow);
  width: 90%;
  padding: 50px 0;
}
/* footer */
.footer-container {
  width: 100%;
  background: linear-gradient(to top, var(--clr-primary5), transparent);
  color: var(--clr-text1);
  text-align: center;
  padding-bottom: 5px;
}
.links-redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 30px 0;
  list-style-type: none;
}
.links-redes li a {
  color: var(--clr-text1);
  text-decoration: none;
}
.links-redes li a:hover {
  color: var(--clr-text2);
}
.footer-info {
  font-size: 10px;
}
@media screen and (min-width: 900px) {
  /* header */

  .head {
    width: 100%;
    height: 160px;
  }

  .nav {
    background: linear-gradient(to bottom, var(--clr-primary3), transparent);
    padding: 0 150px 0 135px;
  }

  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding-top: 70px;
  }
  .toggle-btn {
    display: none;
  }

  .link {
    display: inline-block;
    color: var(--clr-white1);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    text-shadow: 0 2px 6px var(--clr-shadow);
    transition: all 0.3s;
  }

  .link:hover {
    color: var(--clr-primary1);
  }

  .link:active {
    position: relative;
    top: 1px;
  }

  .nav-logo {
    width: 180px;
    filter: drop-shadow(0 3px 6px var(--clr-shadow));
  }
  .about-info {
    width: 50%;
  }
}
